{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}
Il parait qu'il y aurait des loups sur le campus (il parrait)...
{% endblock head_title %}

{% block head_css %}
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
{% if parameters.jour == "jour" %}
    <link rel="stylesheet" href="{{ asset('css/style_jour.css') }}" type="text/css" />
{% else %}
    <link rel="stylesheet" href="{{ asset('css/style_nuit.css') }}" type="text/css" />
{% endif %}
{% endblock head_css %}

{% block body_container_header %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a href="index2.html" class="brand"></a>
            <h1 class="main_title">&nbsp;Loup Garou <span>Sur le campus</span></h1>
            <ul class="nav">
                <li><a href="#">Hello {{ user.username }} ! </a></li>
                <li><a href="#">Tu es un(e) : {{ user.role.nom }}</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">{{ parameters.jour | capitalize }}</a></li>
                <li><a>Maire actuel : {{ maire | raw }}</a></li>
                <li class="divider-vertical"></li>
                <li><a href="logout">Se deconnecter</a></li>
        </div>
    </div>
</div>
{% endblock body_container_header %}

{% block body_container_main %}
<!-- div row pour l'affichages des joueurs morts et viants -->
<div class="row">

<div id="alivePlayers" class= "span4 offset2 cadre">
<p>Joueurs vivants :
<ul>
{% for joueur in alivePlayers %}
<li><a href="https://extranet.eclair.ec-lyon.fr/services/annuaire/details.php?id_eleve={{ joueur.idextra }}" target=_blank>{{ joueur.username }}</a></li>
{% endfor %}
</ul>
</p>
</div>


<div id="deadPlayers" class= "span4 offset2 cadre">
<p>Joueurs morts :
<ul>
    {% for joueur in deadPlayers %}
        <li><a href="https://extranet.eclair.ec-lyon.fr/services/annuaire/details.php?id_eleve={{ joueur.idextra }}" target=_blank>{{ joueur.username }}</a> ce joueur était un {{ joueur.role.nom }}</li>
    {% endfor %}
</ul>
</p>
</div>

</div>
<!-- fin div pour l'affichage des joueurs -->
<hr />


<!-- affichage des différents formulaires -->
<div class="row">
{% if user.vivant %}

    {% if user.role.pouvoir1 %}
        <div id="pouvoir" class= "span4 offset2 cadre">
            <p>Pouvoir special :<br/>Ton personnage te permet de {{ user.role.pouvoir1desc }}{% if user.role.pouvoir2 %} et de {{user.role.pouvoir2desc}}{% endif %}. </p>
        </div>
    {% endif %}
    
<!-- Vote des villageois -->
    <div id="voteJour" class= "span4 offset2 cadre">
	{% if parameters.jour == "jour" %}
    {% if votesCastedToday[1] %}
        <p>Designation d'un condamné : <br/>Tu as déjà voté contre {{ votesCastedToday[1] }} aujourd'hui, tu peux changer d'avis et modifier ce vote jusqu'à {{ parameters.heureNuit }}h. </p>
    {% else %}
		<p>Designation d'un condamné :</p>
	{% endif %}
    <form action="{{ path('LGUserBundle_publicinfo', {'visibility': 'private'}) }}" method="post" {{ form_enctype(formJour) }}>
        {{ form_label(formJour.votePour, 'Sélectionne le joueur contre lequel tu veux voter : ',  { 'attr': {'class': 'big'} }) }}
        {{ form_errors(formJour.votePour) }}
        {{ form_widget(formJour.votePour, {}) }}
        
        {{ form_widget(formJour.type, {attr:{'value': 1}}) }}
        
        {{ form_rest(formJour) }}
        <input type="submit" />
    </form>
    {% else %}
    Pas de vote pour l'instant le jour n'est pas levé ! <br />Tu poura choisir la personne contre laquelle tu veux voter dès demain matin ({{ parameters.heureJour }}h).
    {% endif %}
    </div>

<!-- Élection du maire -->
    <div id="voteMaire" class= "span4 offset2 cadre">
    {% if (parameters.jour == "jour" and maire != 'pas de maire') %}
    {% if votesCastedToday[3] %}
        <p>Élection du Maire : <br/>Tu as déjà voté pour {{ votesCastedToday[3] }} aujourd'hui, tu peux changer d'avis et modifier ce vote jusqu'à {{ parameters.heureNuit }}h. </p>
    {% else %}
        <p>Élection du Maire :</p>
    {% endif %}
    <form action="{{ path('LGUserBundle_publicinfo', {'visibility': 'private'}) }}" method="post" {{ form_enctype(formJour) }}>
        {{ form_label(formMaire.votePour, 'Sélectionnes le joueur que tu souhaites comme maire : ',  { 'attr': {'class': 'big'} }) }}
        {{ form_errors(formMaire.votePour) }}
        {{ form_widget(formMaire.votePour, {}) }}
        
        {{ form_widget(formMaire.type, {attr:{'value': 3}}) }}
        
        {{ form_rest(formMaire) }}
        <input type="submit" />
    </form>
    {% else %}
    Pas de vote pour l'instant le jour n'est pas levé ! <br />Tu poura choisir la personne contre laquelle tu veux voter dès demain matin.
    {% endif %}
    </div>

<!-- vote des loups -->
    {% if (user.role.id == 2 and parameters.jour == "nuit") %}
        <div id="voteNuit" class= "span4 offset2 cadre">
        {% if votesCastedToday[2] %}
            <p>Le festin : <br/>Tu as déjà voté contre {{ votesCastedToday[2] }} aujourd'hui, tu peux changer d'avis et modifier ce vote jusqu'à {{ parameters.heureNuit }}h. </p>
		{% else %}
			<p>Le festin :</p>
        {% endif %}
        <form action="{{ path('LGUserBundle_publicinfo', {'visibility': 'private'}) }}" method="post" {{ form_enctype(formNuit) }}>
            {{ form_label(formNuit.votePour, 'Sélectionnes le joueur que tu souhaites dévorer cette nuit : ',  { 'attr': {'class': 'big'} }) }}
            {{ form_errors(formNuit.votePour) }}
            {{ form_widget(formNuit.votePour, {}) }}
            
            {{ form_widget(formNuit.type, {attr:{'value': 2}}) }}
            
            {{ form_rest(formNuit) }}
            <input type="submit" />
        </form>
        </div>
    {% elseif user.role.id == 2 %}
    <div id="voteNuit" class= "span4 offset2 cadre">
        <p>Le festin :<br/>En tant que loup, la nuit tombée tu pourra dévorer un villageois. Le formulaire sera disponible dès la nuit tombée (vers {{ parameters.heureNuit }}h). </p>
    </div>
    {% endif %}

{% else %}

<div class="offset2 cadre" id="dead">
<p>Tu es mort, tu ne peux donc plus voter, ni utiliser tes pouvoirs (si tu en avais) !</p><p>C'est ballot hein =p</p>
</div>

{% endif %}
</div>
<!-- fin affichage des différents formulaires -->

<hr />
<!-- affichage des votes -->
<div class="row">
    <div id="logVotesVillageois" class= "span4 offset2 cadre">
	<p>Designation d'un condamne :</p>
	<div>
	<p>
        Synthèse des votes du jour (en cours): 
        <ul>
        {% for personne in votesParPersonneVillage %}
            <li>{{ personne.nbVotes }} votes pour {% if personne.id == 0 %}personne{% else %}{{ personne.id }}{% endif %}</li>
        {% endfor %}
        </ul>
	</p>
	</div>
	<div style="height:500px;overflow:auto;">
    <p>
    {% for vote in villagersVotes %}
        {% if vote.votant == "date" %}
            ***** Le {{ vote.pour }} *****<br />
        {% elseif vote.votant == "wWDead" %}
            <span class="mort">{{ vote.pour }} est mort dévoré. </span><br />
        {% elseif vote.votant == "burnedDead" %}
            <span class="mort">{{ vote.pour }} est mort ce jour pour la communauté. </span><br />
        {% else %}
            {{ vote.votant }} vote contre {{ vote.pour }}<br />
        {% endif %}
    {% endfor %}
    </p>
    </div>
	</div>
    
    <div id="logVotesMaire" class= "span4 offset2 cadre">
    <p>Election du Maire :</p>
    <div style="height:500px;overflow:auto;">
    <p>
    {% for vote in mayorVotes %}
        {% if vote.votant == "*" %}
            ***** Élection du {{ vote.pour }} *****<br />
        {% else %}
            {{ vote.votant }} vote pour {{ vote.pour }}<br />
        {% endif %}
    {% endfor %}
    </p>
    </div>
    </div>

    {% if (user.role.id == 2) %}
        <div id="logVotesLoups" class= "span4 offset2 cadre">
        <p>Election de la victime a croquer :</p>
        <div style="height:500px;overflow:auto;">
        <p>
        {% for vote in wWVotes %}
            {% if vote.votant == "*" %}
                ***** Festin du {{ vote.pour }} *****<br />
            {% else %}
                {{ vote.votant }} souhaite manger {{ vote.pour }}<br />
            {% endif %}
        {% endfor %}
        </p>
        </div>
        </div>
    {% endif %}
</div>
<!-- fin affichage des votes -->

<hr />

<!-- fin affichage des votes -->
<div class="row">
    <div id="messageVote" class= "span8 offset2 cadre">
    <form action="{{ path('LGUserBundle_publicinfo', {'visibility': 'private'}) }}" method="post" {{ form_enctype(formJour) }}>
        {{ form_label(formMessage.message, 'Message a envoyer aux autres joueurs : ',  { 'attr': {'class': 'big'} }) }}
        {{ form_errors(formMessage.message) }}
        {{ form_widget(formMessage.message, {}) }}
        
        {{ form_rest(formMessage) }}
        <input type="submit" />
    </form>
    <div style="height:200px;overflow:auto;">
        {% for message in messages %}
            Le {{message.date.format('d/m/Y') }}, {{ message.emetteur }} a dit : {{ message.message }}<br />
        {% endfor %}
    </div>
    </div>
</div>
<!-- fin affichage des votes -->


{% endblock body_container_main %}

{% block body_container_footer %}
<div class="footer">
<br />
Site web développé par Sébastien Touzé, design par Pierre Colomer<br />
Le code source est disponible sous licence GNU GPL2 sur <a href="https://github.com/sebtouze/LoupGarou">https://github.com/sebtouze/LoupGarou</a>
</div>
{% endblock body_container_footer %}
